.header {
  background-color: $red;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  .logo {
    width: 66px;
    height: 65px;
    transition: width .3s ease-in-out;
  }
  .phone-box {
    display: flex;
    align-items: center;
    svg {
      margin-right: 0.5rem;
    }
    a {
      text-shadow: 0 1px 0 rgba(2, 2, 2, 0.3);
      font-size: 1.313rem;
      color: #fff;
      span {
        font-weight: 600;
      }
    }
  }
  &.sticky-header {
    box-shadow: 0 0 10px rgba(0,0,0,.38);
    .logo {
      height: 55px;
    }
    .menu {
      li {
        height: 65px;
      }
    }
  }
}

.banner {
  height: 552px;
  background: #120000 url('../img/banner.jpg') no-repeat center;
  margin-bottom: rem(90px);
  background-size: 86vw;
  background-position-x: -100px;
  background-position-y: 40%;
  #show-form,
  .mob-title {
    display: none;
  }
  form {
    max-width: 288px;
    margin: 0 auto;
    .control-form {
      border-color: transparent;
    }
    .label {
      color: #979494;
    }
  }
  .decorative-border {
    max-width: 392px;
    width: 100%;
    padding: 1.55rem 0;
    border-left: 0;
    .decorative-circle {
      left: -5px;
      &:before,
      &:after {
        left: 0;
        right: 0;
        height: 5px;
        width: 2px;
        margin: auto;
      }
      &.top {
        top: 5px;
        &:after {
          top: -5px;
        }
      }
      &.bottom {
        bottom: 5px;
        &:before {
          bottom: -5px;
        }
      }
    }
  }
  .form-title {
    font-size: 3.75rem;
    font-weight: 800;
    color: #eba628;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 393px;
    line-height: 1.14;
  }
}

@media (min-width: 2048px) {
  .banner {
    background-size: 60vw;
    background-position-x: 33%
  }
}

.mobile-btn {
  background-color: transparent;
  border: 0;
  display: none;
  position: relative;
  outline: 0 !important;
  width: 35px;
  height: 21px;
  padding: 0;
  margin-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  align-self: center;
}
.mobile-btn span {
  background-color: #fff;
  width: 100%;
  height: 2px;
  display: block;
  opacity: 1;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }
.mobile-btn span:nth-child(1) {
  top: 0; }
.mobile-btn span:nth-child(2) {
  top: 10px; }
.mobile-btn span:nth-child(3) {
  top: 20px; }
.mobile-btn.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }
.mobile-btn.open span:nth-child(2) {
  opacity: 0;}
.mobile-btn.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.menu {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
   li {
     height: 96px;
     transition: height .3s ease-in-out;
     display: flex;
     a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-weight: 400;
      font-size: 1rem;
      padding: 0 2.2rem;
      text-shadow: 0 1px 0 rgba(2, 2, 2, 0.3);
      height: 100%;
      &:focus,
      &:active,
      &:hover {
        background-color: $dark-red;
      }
    }
  }
}
.menu > li.current-menu-ancestor>a,
.menu > li.current-menu-item>a,
.menu li > a > li.current-menu-item > a,
.menu > li.Ñurrent-page-item a {
  border-bottom-color: #fff;
  color: #fff;
}

@media (max-width: 1300px) {
  .menu {
    li {
      a {
        padding: 0 1.5rem;
      }
    }
  }
}
@media (max-width: 1200px) {
  .banner {
    margin-bottom: 2.5rem;
    .form-title {
      font-size: 3rem;
    }
  }
  .menu {
    li {
      a {
        padding: 0 1rem;
      }
    }
  }
}
@media (max-width: 992px) {
  .header {
    box-shadow: 0 0 10px rgba(0,0,0,.38);
    .logo {
      width: 55px;
    }
    .menu-container {
      z-index: 9000;
      padding: 1rem 0 140px 0;
      position: fixed;
      background-color: $red;
      right: 0;
      left: 0;
      bottom: 0;
      top: 65px;
      box-shadow: inset 0 0 29px rgba(0, 0, 0, 0.09);
      height: 100vh;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      -webkit-transform: translateX(-105%);
      transform: translateX(-105%);
      -webkit-transition: -webkit-transform .3s ease-out;
      transition: -webkit-transform .3s ease-out;
      transition: transform .3s ease-out;
      border-radius: 0;
      margin: 0;
      li {
        display: inline-block;
        text-align: center;
        width: 100%;
        -webkit-transition-property: opacity, -webkit-transform;
        transition-property: opacity, -webkit-transform;
        transition-property: transform, opacity;
        transition-property: transform, opacity, -webkit-transform;
        -webkit-transform: translate(50%, 0);
        -ms-transform: translate(0, 50%);
        transform: translate(0, 50%);
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        opacity: 0;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
      }
      &.open-menu {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        li {
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          opacity: 1;
          &:nth-child(1) {
            -webkit-transition-delay: 50ms;
            transition-delay: 50ms;
          }
          &:nth-child(2) {
            -webkit-transition-delay: .1s;
            transition-delay: .1s;
          }
          &:nth-child(3) {
            -webkit-transition-delay: 150ms;
            transition-delay: 150ms;
          }
          &:nth-child(4) {
            -webkit-transition-delay: .2s;
            transition-delay: .2s;
          }
          &:nth-child(5) {
            -webkit-transition-delay: .3s;
            transition-delay: .3s;
          }
          &:nth-child(6) {
            -webkit-transition-delay: 450ms;
            transition-delay: 450ms;
          }
        }
      }
    }
    .phone-box {
      a {
        font-size: 1rem;
      }
    }
  }

  .mobile-btn {
    display: block;
    z-index: 1030;
  }

  body.open-menu {
    position: fixed;
    overflow: hidden;
  }

  .menu {
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    li {
      height: auto;
      a {
        padding: 0.8rem 0;
      }
    }
  }

  .banner {
    height: 470px;
    align-items: flex-end !important;
    background-position-x: 50%;
    background-position-y: 62%;
    background-size: 930px;
    margin-bottom: 2rem;
    #show-form {
      display: block;
      max-width: 288px;
      width: 100%;
      margin: 1rem auto;
    }
    .row > .d-flex {
      display: block!important;
    }
    .form-title {
      right: auto;
      top: auto;
      bottom: auto;
      position: relative;
      width: 100%;
      .mob-title {
        font-size: 1.5rem;
        display: block;
        text-align: center;
        border-bottom: 1px solid $yellow;
      }
      span {
        display: none;
      }
    }
    .decorative-border {
      margin: 1rem auto;
      display: none;
      border-left: 2px solid $yellow;
      .decorative-circle {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .banner {
    .decorative-border {
      padding: 1.2rem 0.9rem;
    }
  }
}